body{
    width:auto;
    height:auto;
    margin:auto;
    padding:auto;
    background: #5994B6;
}
.header{
    width:100%;
    height:fit-content;
}
.header img{
    width:100%;
    height:auto;
}
.frame2{
    width:100%;
}
.avatar{
    width:25vw;
    margin-top:-14vw;
    position: relative;
    margin-left:70vw;
}
.container1{
    display: flex;
    justify-content: center;
}
.viewer{
    width:60vw;
    margin-top:1.5vw;
}
.container2{
    display:flex;
    margin-top:1vw;
}
.container3{
    width:64%;
    margin-left: 2.5vw;
}
.img1{
    position: relative;
    width:100%;
}
.huhu{
    width:85%;
}
.having{
    width:100%;
}
.container4{
    margin-left:1vw;
    width:fit-content;
}
.believe{
    height:56vw;
}
.my-story{
    width:95%;
}
.container5{
    display: flex;
    justify-content: center;
}
.pixel{
    width:90%;
}
.container6{
    display:flex;
    margin-top:7vw;
    justify-content: center;
}
.container7{
    margin-top:5vw;
    display:flex;
    justify-content: space-between;
}
.box{
    width:31%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pic1 , .pic2,.pic3{
    width:70%;
}
.button1{
    width:fit-content;
    height:fit-content;
    position: absolute;
    bottom:-1vw;
    left:16vw;
    background-color: #5994B6;
    border:none;
}
.button1:hover{
    cursor: pointer;
}
.read-more{
    width:8vw;
}
.footer{
    margin-top:50px;
    width:100%;
    position: relative;
    margin-bottom:-10px;
}